
*{
    text-align: center;
}
body{
    background-image: url(img/fundo.jpg);
    background-attachment: fixed;
}
form{
    width: 557px;
    margin: auto;
    padding: 80px;
    border-radius: 10px;
    background:#631750;
     color: #bb3d71;
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#voltar{
    width: 100%;
    border: 2px solid #bb3d71;
    background-color: #fff;
    color: #bb3d71;
    font-weight: bold;
    cursor: pointer;
    padding: 14px;
    border-radius: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  }
  #voltar:hover{
   background-color: #c3487b;
   color: #fff;
    transition:all linear 0.3;
  }
 ::placeholder {
    color: #75697c;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }
 textarea{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }

 option{
    color:#75697c;
 }
